In [2]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [97]:
# Read csv of Education distribution
# Remove all the entries that don't have "County"
df = pd.read_csv('Education_data_compiled.csv')
df = df[df['Area name'].str.contains('County')]
df = df.sort_values(by=['State','Area name'],ignore_index=True)

In [108]:
# Add columns of Unemployment and Median HH Income
new_df = pd.read_csv('Unemployed_data_compiled.csv')
new_df = new_df[new_df['Area name'].str.contains('County')]
new_df.sort_values(by=['Area name'],ignore_index=True)

# For this file, area name stick with state => split it
def f(x,delm=','):
    return x.split(delm)[0], x.split(delm)[1][1:]

new_df['State'] = new_df['Area name'].map(lambda x: f(x)[1])
new_df['Area name'] = new_df['Area name'].map(lambda x: f(x)[0])

new_df = new_df.sort_values(by=['State','Area name'],ignore_index=True)
result = pd.merge(df,new_df,how='inner', on=['Area name','State'])
result.rename(columns={"Unemployment_rate_2019": "Percent of unemployment 2019", 
                       "Median_Household_Income_2018": "Median Household Income 2018"})

,State,Area name,"Percent of adults with less than a high school diploma, 2014-18","Percent of adults with a high school diploma only, 2014-18","Percent of adults completing some college or associate's degree, 2014-18","Percent of adults with a bachelor's degree or higher, 2014-18",Percent of unemployment 2019,Median Household Income 2018
0,AL,Autauga County,11.3,32.6,28.4,27.7,2.7,"59,338"
1,AL,Baldwin County,9.7,27.6,31.3,31.3,2.7,"57,588"
2,AL,Barbour County,27.0,35.7,25.1,12.2,3.8,"34,382"
3,AL,Bibb County,16.8,47.3,24.4,11.5,3.1,"46,064"
4,AL,Blount County,19.8,34.0,33.5,12.6,2.7,"50,412"
...,...,...,...,...,...,...,...,...
2994,WY,Sweetwater County,9.0,33.3,35.7,22.0,3.9,"73,315"
2995,WY,Teton County,5.6,13.2,23.8,57.4,2.7,"99,087"
2996,WY,Uinta County,7.2,40.1,37.2,15.4,3.9,"63,401"
2997,WY,Washakie County,10.4,30.3,37.7,21.5,3.9,"55,190"
2998,WY,Weston County,7.8,35.8,37.3,19.2,2.9,"54,319"

In [107]:
result

,State,Area name,"Percent of adults with less than a high school diploma, 2014-18","Percent of adults with a high school diploma only, 2014-18","Percent of adults completing some college or associate's degree, 2014-18","Percent of adults with a bachelor's degree or higher, 2014-18",Unemployment_rate_2019,Median_Household_Income_2018
0,AL,Autauga County,11.3,32.6,28.4,27.7,2.7,"59,338"
1,AL,Baldwin County,9.7,27.6,31.3,31.3,2.7,"57,588"
2,AL,Barbour County,27.0,35.7,25.1,12.2,3.8,"34,382"
3,AL,Bibb County,16.8,47.3,24.4,11.5,3.1,"46,064"
4,AL,Blount County,19.8,34.0,33.5,12.6,2.7,"50,412"
...,...,...,...,...,...,...,...,...
2994,WY,Sweetwater County,9.0,33.3,35.7,22.0,3.9,"73,315"
2995,WY,Teton County,5.6,13.2,23.8,57.4,2.7,"99,087"
2996,WY,Uinta County,7.2,40.1,37.2,15.4,3.9,"63,401"
2997,WY,Washakie County,10.4,30.3,37.7,21.5,3.9,"55,190"
2998,WY,Weston County,7.8,35.8,37.3,19.2,2.9,"54,319"